div{
    height: 400px;
    width: 400px;
    /* border-style: dotted;
    border-width: 20px;
    border-color: blue; */
    border: 40px dashed coral;
    background-color: aqua;
    border-radius: 100px;
    border-top-style: outset;
    border-left-style: double;
    border-bottom-style: groove;
    border-right-style: solid;
    border-top-width: 100px;
    border-left-width: 100px;
    border-top-color: red;
}